$colNavbar: #262626;
$colSection: #edf1f5;
$colBtnSuccess: #2ecd99;
.l {
  &-page {}
  &-header {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #fff;
    padding: 0 16px;
    border-bottom: 1px solid #e7e7e7;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  }
  &-section {
    display: flex;
  }
  &-navbar{
    height: calc(100vh - 60px);
    background-color: $colNavbar;
  }
  &-input {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    &.textarea{
      align-items: flex-start;
    }
  }
}

.input {
  border: 1px solid #BDBDBD;
  border-radius: 2px;
  outline: 0;
  padding: 2px 4px;
  color: #212121;
  font-size: 14px;
  &-name{
    width: 60%;
  }
  &-textarea{
    resize: none;
    width: 60%;
  }
}

.label {
  font-size: 12px;
  color: #424242;
  padding-right: 8px;
  width: 100px;
  text-align: right;
  margin-bottom: 0;
}

.header {
  &_title {
    font-size: 32px;
    font-weight: 500;
    line-height: 1;
    color: $colNavbar;
  }
}

.btn{
  &_save{
    color: #fff;
    background-color: $colBtnSuccess;
    border: 0;
    outline: 0;
    padding: 8px 24px;
    margin-left: 100px;
    cursor: pointer;
    transition: background-color .1s;
    &:hover, &:focus{
      background-color: darken($colBtnSuccess, 10%);
      transition: background-color .1s ease;
    }
  }
}
.navbar{
  &_item{
    display: block;
    padding: 8px 24px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    &:hover, &:focus{
      background-color: rgba(255, 255, 255, 0.05);
      text-decoration: none;
      color: #fff;
    }
  }
}

.section{
  padding: 32px 24px;
  flex-grow: 1;
  background-color: $colSection;
}