.l {
  &-newCategory {
    display: flex;
  }
  &-categoryList {}
}

.newCategory {
  &_inputs {
    flex-grow: 1;
  }
}

.categoryList {
  &_line,
  &_cell,
  &_header,
  &_cell-header {
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
  }
  &_header{
    border-bottom: 2px solid $colNavbar;
    padding-bottom: 6px;
  }
  &_line {
    align-items: center;
    height: 45px;
    border-bottom: 1px solid lighten($colNavbar, 60%);
  }
  &_cell{
    color: $colNavbar;
    font-size: 14px;
    &-header{
      font-size: 12px;
      color: gray;
      text-transform: uppercase;
      font-weight: 500;
    }
    &-key{
      width: 110px;
    }
    &-name{
      width: 140px;
    }
    &-delete{
      width: 40px;
      justify-content: center;
      i{
        font-size: 20px;
        color: gray;
        cursor: pointer;        
        &:hover, &:focus{
          color: darken(gray, 10%);
        }
      }
    }
  }
}