.l-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  background-color: #fff;
  padding: 0 16px;
  border-bottom: 1px solid #e7e7e7;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); }

.l-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.l-navbar {
  height: calc(100vh - 60px);
  background-color: #262626; }

.l-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px; }
  .l-input.textarea {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }

.input {
  border: 1px solid #BDBDBD;
  border-radius: 2px;
  outline: 0;
  padding: 2px 4px;
  color: #212121;
  font-size: 14px; }
  .input-name {
    width: 60%; }
  .input-textarea {
    resize: none;
    width: 60%; }

.label {
  font-size: 12px;
  color: #424242;
  padding-right: 8px;
  width: 100px;
  text-align: right;
  margin-bottom: 0; }

.header_title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  color: #262626; }

.btn_save {
  color: #fff;
  background-color: #2ecd99;
  border: 0;
  outline: 0;
  padding: 8px 24px;
  margin-left: 100px;
  cursor: pointer;
  -webkit-transition: background-color .1s;
  transition: background-color .1s; }
  .btn_save:hover, .btn_save:focus {
    background-color: #25a37a;
    -webkit-transition: background-color .1s ease;
    transition: background-color .1s ease; }

.navbar_item {
  display: block;
  padding: 8px 24px;
  color: #fff;
  font-weight: 500;
  font-size: 14px; }
  .navbar_item:hover, .navbar_item:focus {
    background-color: rgba(255, 255, 255, 0.05);
    text-decoration: none;
    color: #fff; }

.section {
  padding: 32px 24px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #edf1f5; }

.l-newCategory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.newCategory_inputs {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.categoryList_line, .categoryList_cell, .categoryList_header, .categoryList_cell-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 8px;
  padding-right: 8px; }

.categoryList_header {
  border-bottom: 2px solid #262626;
  padding-bottom: 6px; }

.categoryList_line {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
  border-bottom: 1px solid #bfbfbf; }

.categoryList_cell {
  color: #262626;
  font-size: 14px; }
  .categoryList_cell-header {
    font-size: 12px;
    color: gray;
    text-transform: uppercase;
    font-weight: 500; }
  .categoryList_cell-key {
    width: 110px; }
  .categoryList_cell-name {
    width: 140px; }
  .categoryList_cell-delete {
    width: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .categoryList_cell-delete i {
      font-size: 20px;
      color: gray;
      cursor: pointer; }
      .categoryList_cell-delete i:hover, .categoryList_cell-delete i:focus {
        color: #676666; }
